<!-- Buttons or links to select a category -->
<div *ngIf="!selectedCategoryId; else categorySelected">
  <app-menu-categories (selectedEvent)="selectedCategoryId = $event" *ngIf="categories |async as categoriesData" [categories]="categoriesData"></app-menu-categories>
</div>
  
  <!-- Template to show when a category is selected -->
  <ng-template #categorySelected>
    <button (click)="selectedCategoryId = ''">Return</button>
  
    <!-- Filtered list of categories based on selectedCategoryId -->
    <ul *ngIf="categories| async as CategoryData ">
      <li *ngFor="let category of CategoryData | filterByCategory:selectedCategoryId">
        <h2>{{ category.title }}</h2>
        <ul>
          <li *ngFor="let recipe of category.recipes" >
            <h3>{{ recipe.title }}</h3>
            <p>{{ recipe.description }}</p>
            <span>{{ recipe.price }}</span>
            <button (click) = "addToForm(recipe.uuid,recipe.price)">add</button >
            <button (click) = "removeFromForm(recipe.uuid,recipe.price)">remove</button>
          </li>
        </ul>
      </li>
    </ul>
  </ng-template>
  